#conTable{
	width: 30%;
	margin: 50px auto;
	padding: 15px auto;
}

.titulo{
	text-align: center;
	font-family: Verdana;
	font-size: 16px;
}

.textoTab{
	text-align: center;
	font-family: Verdana;
	font-size: 14px;
}